
<!-- for static files -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Chavenia, Senen 9-Potassium">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, meta, favicon, graded, for school, CS3 student, Potassium, Personalized, 
   input, output, HTML, CSS, JavaScript">
  <title></title>
  <link href="styleGame.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/mHubFavicon?v=1734233335738" size="16x16">
  <style>
    #title {
      box-sizing: border-box;
      height: 150px;
      width: 30%;
      position: absolute;
      top: 196px;
      text-align: center;
      background-color: black;
      margin: 0;
      border: 4px solid #ff6947;
      color: #ff6947;
      background-color: #f9c8bd;
      font-size: 300%;

      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center   
    }

    .info {
      box-sizing: border-box;
      padding: 20px;
      width: 50%;
      position: relative;
      text-align: left;
      color: #ff6947;
      background-color: #f9c8bd;
      border-radius: 15px;
      border: 3px solid #ff6947;

      left: 50%;
      margin-right: -50%;
      margin-top: 50px;
      transform: translate(-50%);
}
    #first {
      margin-top: 280px;
    }
    
    footer {
      left:0;
    }
    #title {
      width: auto;
      padding: 0 20px;
    }
    
    button { /* for the buttons that will change into the answer */
      display: inline;
      margin: 10px;

      padding: 0.8em 0.8em;
      border-radius: 15px;
      font-size: 70%;
      border: none;
      background-color: #486ea1;
      color: #80b6ff;
      transition: 0.2s;
    }

    button:hover {
      background-color: #ff6947;
      color: white;
      cursor: pointer;
    }
    
    input {
      padding: 5px 30px;
      padding-left: 10px;
      margin-top:20px;
    }
    
    #delete {
      position: absolute;
      background-color: black;
      color: red;
      text-align: center;
      font-size: 100%;
      
      left: 50%;
      margin-right: -50%;
      margin-top: 50px;
      transform: translate(-50%);
    }
    #delete:hover {
      background-color: red;
      color: black;
      cursor: pointer;
    }
  </style>
</head>
  <body>
    <header>
      <a href="/" id="logo" alt="Home" title="Math Hub: return Home">
        <!--anchor tag-->
      </a>

      <a id="calcu" href="/calcu" class="navitton"> CALCULATOR </a>

      <a id="learn" href="/learn" class="navitton"> LEARN </a>

      <a id="examples" href="/examples" class="navitton"> EXAMPLES </a>
      
      {{#if loginUser}}
        <div id="loggedAccount" class="navitton">
          {{loginUser}}
        </div>
      
        <div id="logInOut" class="navitton">
          <div>
            <a href="/settings" style="text-decoration: none;">Acc Info</a>
          </div>
          <br>
          <div>
            <a href="/signUp" style="text-decoration: none;">Sign Up</a>
          </div>
          <br>
          <div>
            <a href="/logIn" style="text-decoration: none;">Switch Acc</a>
          </div>   
          <br>
          <div>
            <a href="/logOut" style="text-decoration: none;">Log Out</a>
          </div>   
        </div>
      {{else}}
      <div id="account" class="navitton"> <a href="/signUp">SIGN UP</a> <a href="/logIn">LOG IN</a></div>
      {{/if}}
      
    </header>
    <div id="div2">  
      
      <p id="title">
        {{username}}'s Info
      </p>
      
      <div class="info" id="first">
        <form action="/updateUsername" method="post"
              onsubmit = "return confirm('Do you really want to change your username?')">
          Your current username is {{username}}.
          <br>
            <input type="text" id="newUsername" name="newUsername"  placeholder="New username" minlength="3" maxlength="30" required />
          <button type="submit" class="save">Update Username</button>
        </form>
      </div>
        <br>
      <div class="info">
        <form action="/updateEmail" method="post"
              onsubmit = "return confirm('Do you really want to change your email?')">
          Your current email is {{email}}.
          <br>
            <input type="email" id="newEmail" name="newEmail"  placeholder="New email" required />
          <button type="submit" class="save">Update Email</button>
        </form>
      </div>
        <br>
      <div class="info">
        <form action="/updatePassword" method="post" 
              onsubmit = "return confirm('Do you really want to change your password?')">
          Your current password is {{password}}.
          <br>
            <input type="password" name="oldPassword"  placeholder="Old password" required />
          <br>
            <input type="password" id="newPassword" name="newPassword"  placeholder="New password" required />
            <span id="mess">{{mess}}</span>
          <button type="submit" class="save">Update Password</button>
        </form>
      </div>  
        <br>
      <div>
        <form action="/deleteAccount" method="post"
                onsubmit = "return confirm('Do you really want to PERMANENTLY REMOVE your account? You cannot go back.')" >
        <button id="delete" type="submit">Delete Account</button>
        </form>
      </div>
    </div>

    <footer>
      <span id="both">
        <a href="https://www.facebook.com/profile.php?id=61571987821440"><div
            id="fb"
          ></div></a>
        <a href="https://precy-s.github.io/MathHub/public/"><div
            id="gh"
          ></div></a>
        <a href="mailto:hubforhighschoolmath@gmail.com"><div
            id="email"
          ></div></a>
      </span>

      <a id="about" class="footertton" href="/about"> About </a>

      <a id="sources" class="footertton" href="/sources"> Sources </a>
    </footer>

    <script defer src="game.js"></script>
  </body>
</html>
